Dockerfile
.dockerignore
.git
.github
node_modules
**/node_modules
npm-debug.log
.next
**/.next
dist
**/dist
.turbo
**/.turbo
.vercel
.env.local
.env.*.local
*.md
.env.example
.cache
**/__pycache__
**/.cache
coverage
.next_trace
*.tsbuildinfo
**/build
